@page "/Lobby"

@inject IJSRuntime JS
@inject NavigationManager NavigationManager
@inject GameSessionManager gameSessionManager

<h3>Lobby</h3>
<p>Welcome, @Name!</p>
<p>Join Code: @GameId</p>

<button @onclick="OnSwitchTeamClick">Switch Team</button>

<p>@ErrorMessage</p>

@code {

    public string GameId { get; private set; } = string.Empty;
    public string Name { get; private set; } = string.Empty;
    public GameSession? Game {get; private set; }

    private string ErrorMessage { get; set; } = string.Empty;
    private static Lobby? Instance;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("OnInitialized called");
        Instance = this;
        Name = await JS.InvokeAsync<string>("getCookie", "Name");
        GameId = await JS.InvokeAsync<string>("getCookie", "GameId");

        if (!string.IsNullOrEmpty(GameId))
        {
            Game = gameSessionManager.GetGame(GameId);
            if (Game != null)
                return;
        }
        NavigationManager.NavigateTo("/Home");
    }

    private void OnSwitchTeamClick()
    {
        try
        {
            Game.SwitchTeam(Name);
        }
        catch(Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }
}
