<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OnTheRun Admin Panel</title>
    <link rel="stylesheet" type="text/css" href="./css/admin.css" />
    <!--JS IMPORTS-->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdn.socket.io/4.7.5/socket.io.min.js"
      integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.socket.io/4.7.5/socket.io.min.js"
      integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
      crossorigin="anonymous"
    ></script>
    <script src="./states.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div class="button-container">
        <div class="answer-button" id="answer-correct">
          <div class="answer-text">Correct</div>
          <div class="answer-text">(key: z)</div>
        </div>
        <div class="answer-button" id="answer-incorrect">
          <div class="answer-text">Incorrect</div>
          <div class="answer-text">(key: x)</div>
        </div>
        <div class="answer-button" id="answer-undo">
          <div class="answer-text">-1000</div>
          <div class="answer-text">(key: c)</div>
        </div>
        <div class="state-button" id="previous-state">
          <div>Previous State:</div>
          <div class="state-text-big">UNKNOWN</div>
          <div>
            <span style="color: rgb(150, 27, 27)">UNSTABLE!</span>(key: q)
          </div>
        </div>
        <div class="state-button" style="cursor:default">Current State: <span id="current-state">UNKNOWN</span></div>
        <div class="state-button" id="next-state">
          <div>Next State:</div>
          <div class="state-text-big">UNKNOWN</div>
          <div>(key: space)</div>
        </div>
      </div>
      <div id="teleprompt-wrapper">Test Text</div>
    </div>

    <script src="./admin.js"></script>
  </body>
</html>
